<header class="page-header">
  <h1>About Us</h1>
</header>
<p>
  We have existed since the dawn of time. Throught existence we have been seeking a worthy species to share our power with.
  After searching for eternity we have come across you humans. Using the power of the language that you call
  <kbd style="font-weight: 1000; color: red">Ruby on Rails</kbd>, We shall grant you gifts from beyond for a
  fair price.
<p>